<mat-nav-list>
    <div class="logo">
        <img src="../../../assets/images/Raw/sample.png" alt="GC CLIP Logo">
    </div>
    <div class="fullname">
      <p>{{user_Name}}</p>
      <small>{{user_Dept}} - {{user_Prog}}</small>
    </div>
    <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="active" routerLink="/main">
          <mat-icon id="dashboard">dashboard</mat-icon>Presentation
        </a>
        <!-- <a mat-list-item routerLinkActive="active" routerLink="/quiz">
          <mat-icon id="live_help">live_help</mat-icon>Quiz
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/setting">
          <mat-icon id="setting">settings</mat-icon> Settings
        </a> -->
</mat-nav-list>