$polygon: #1BBB94;
$darkenBlue: #023047;
$light_gray: #334e5c;
$button_blue: #0166B3;
$mid_green: #089e7a;
$crimson: #ed143d;

h1, h2, h3, h4, h5, h6, input, p, a, .mat-error{
  font-family: 'Quattrocento sans';
}

//////////////////////////
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
///////////////////////


:host{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;

  ::ng-deep{

    ///sidebar
    mat-sidenav{
      width: 8rem!important;

      .logo{
        padding: 15px 10px;
        flex-direction: column;
        gap: 5px;
  
        h4{
          font-weight: 700;
          color: $mid_green;
          letter-spacing: 0.1em;
        }
      }

      mat-icon{
        width: 25px;
        height: 25px;
        color: $mid_green;
      }

      .mat-list-base{
        height: 50px;
      }
      
      .mat-list-item-content{
        padding: 0 5px!important;
      }

      a.mat-list-item{
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
      }


    }
    
    mat-divider{
      border-top-color: $mid_green;
    }

    
    // top-bar
    .mat-toolbar-single-row {
      height: 50px;
      background: $polygon;

      .user {
        width: 100%;
        display: flex;
        justify-content: end;

        span{
          font-size: 10px;
          font-family: 'Quattrocento Sans';
          font-weight: 600;
          letter-spacing: 0.1em;
        }
      }

    }


  }
}