<div id="main" class="fullscreen"></div>
<div id="black" class="fullscreen"></div>

<!-- <div class="d-flex" id="container">

  <div id="code-content" class="d-flex justify-content-center ">
    <div id="code-box" class="d-flex align-items-center justify-content-center">
        <input [(ngModel)]="code" matInput type="text" placeholder="enter code" id="code-input" autocomplete="off">
        <button type="submit" (click)="codeEnter()" mat-raised-button id="btn-code">Join</button>
    </div>
  </div>


<div id="presentation">

    <div id="table" class="d-flex justify-content-center">
        <mat-card >
          <div id="top" class="d-flex align-items-center">
            <div id="left-side" class="d-flex align-items-center">
             <div id="polygon">
              <mat-icon id="tv">tv</mat-icon>
             </div>
              <mat-card-title>Presentations</mat-card-title>
            </div>

           
              <input matInput type="text"  [(ngModel)]="value" autocomplete="off" (keyup)="applyFilter()"
                placeholder="Search" autocomplete="off">
           
          </div>
          <mat-divider></mat-divider>

            <mat-card-content>
                  

              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100" >
                
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
              
                <ng-container matColumnDef="sName_fld">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.sName_fld}}</td>
                </ng-container>

                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef >
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="viewPresentation(element.sId_fld)" mat-icon-button id="actions"#tooltip="matTooltip"
                    matTooltip="View"
                    matTooltipPosition="right">
                        <mat-icon color="accent" id="visibility">visibility</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [length]="100"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageOption"
              aria-label="Select page">
              </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
</div> -->

<div class="d-flex main">
  <div class="d-flex justify-content-center align-items-center code-container">
    <input [(ngModel)]="code" matInput type="text" placeholder="enter code" id="code-input" autocomplete="off">
    <button type="submit" (click)="codeEnter()" mat-raised-button id="btn-code">Join</button>
  </div>
  
  <div class="d-flex cards">
    <mat-card *ngFor="let data of presentation" (click)="viewPresentation(data.sId_fld)">
      <p>
        {{data.sName_fld}}
      </p>
    </mat-card>
  </div>
</div>