h1,h2,h3,h4,h5,h6,p, th, td, .mat-paginator, input, table{
    font-family: 'Quattrocento Sans';
}
.fullscreen{
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main{
    background-image: url('https://image.freepik.com/free-vector/white-clean-hexagonal-medical-concept_1017-29801.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed!important;
    opacity: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
}
#black{
    // background-color: #334e5c;
    background: linear-gradient(360deg, hsla(218, 93%, 77%, 1) 0%, hsla(185, 50%, 95%, 1) 100%);
    position: fixed;
    opacity: 20%;
    z-index: -1;
    top: 0;
}

::ng-deep .mat-simple-snackbar {
    justify-content: center;
    color: #fff;
    font-family: 'Poppins';
}

::ng-deep .mat-snack-bar-container {
    background-color: #334e5c;
}

th.mat-sort-header.mat-header-cell.cdk-header-cell.ng-tns-c93-4.cdk-column-position.mat-column-position.ng-star-inserted {
    width: 5vw !important;
}

#container{
    justify-content: space-around;
    flex-direction: row-reverse;
}

#code-content{
    width: 25%;

    #code-box{
        clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
        gap: 12px;
        width: 100%;
        height: 270px;
        box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
        background-color: #48C9B0;
        // border-radius: 15px;
        flex-direction: column;
        

        input{
            width: 70%;
            // margin-right: 1rem;
            text-align: center;
            height: 40px;
            border-radius: 0;
            padding: 10px;
            font-size: 0.9rem;
            font-weight: bold;
            color: #334e5c;
            background: #fff;
            border: 2px solid #fff;
            box-sizing: border-box;
            text-transform: uppercase;
            box-shadow: 3px 2px 3px 0px rgb(0 0 0 / 30%);
            &:focus-visible{
                // border: 2px solid #007BFF;
                outline: none;
            }
        }

        button{
            padding: 2px 0;
            width: 70%;
            border-radius: 0;
            color: #fff;
            background: #711CB2 ;
            border: 3px solid #fff;
            box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 1);
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: bold;
            font-family: 'Poppins';
            margin-top: -4px;
            &:hover{
                background-color: #fb8400;
            }
        }
    }

    
}


#presentation{
    width: 65%;
    // margin-top: 40px;

        #table{
            mat-card{
                width: 100%;
                #top{
                    gap: 90px;
            
                    #left-side{
                        gap: 10px;
                        
                        #polygon{
                            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
                            // background: #007BFF;
                            // background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(274, 73%, 40%, 1) 100%);
                            padding: 15px;
                            background: #711CB2;
                        }
                        ::ng-deep{
                            mat-icon{
                                // color: #219ebc;
                                color: #fff;
                                height: 45px;
                                width: 45px;
                                font-size: 45px;
                                padding-top: 7px;
                            }
                            mat-card-title{
                                margin: 0;
                                font-family: 'Quattrocento Sans';
                                font-weight: 700;
                                font-variant: small-caps;
                                font-size: 2.5em;
                                // color: #334e5c;
                                // color: #711CB2;
                                color: #0166B3;
                            }
                            
                        }
                        
                    }
                    // #search{
                    //     width: 90%;

                        input#mat-input-3{
                            padding: 8px;
                            font-family: 'Quattrocento Sans';
                            border: 2px solid #1BBB94;
                            border-radius: 0;
                            box-shadow: 3px 2px 3px 0px rgb(0 0 0 / 10%);
                        }
                    // }
                }
    
                ::ng-deep mat-card-content{
                    width: 100%;
                    margin-top: 46px;

                        tr.mat-header-row{
                            background: #0166B3 ;
                        }

                        th{
                            // color: #334e5c;
                            font-family: 'Quattrocento Sans';
                            letter-spacing: 0.1em;
                            font-variant: small-caps;
                            color: #fff;
                            font-size: 1em;
                            font-weight: 700;
                        }
                        td{
                            color: #000;
                            font-family: 'Quattrocento Sans';
                            font-weight: bold;
                            letter-spacing: 0.1em;
                            font-size: 1.1em;
                        }
                }
                ::ng-deep .mat-divider{
                    // border-color: #007BFF;
                    margin: 16px 0;
                }
            }
            
        }
}


@media screen and (max-width: 767px) and (orientation: portrait) {
    #code-content{

        #code-box{
            width: 90vw;

            #search input{
                width: 90vw;
            }
        }
    }

    #presentation{

        // #top-content{
        //     flex-direction: column;
        //     align-items: flex-start !important;
        //     padding: 0 20px;

        //     #search {
        //         input {
        //             width: 44vw!important;
        //         }
        //     }
        // }

        #table{

            mat-card{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 768px) and (orientation: landscape){
    #code-content{

        #code-box{
            width: 65vw;
            height: 30vh;
        }
        
    }

    #presentation{
        #top-content{
            justify-content: space-between;
            padding: 0 14px;
        }

        #table{

            mat-card{
                width: 100vw;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #code-content{

        #code-box{
            width: 40vw;
            height: 20vh;
        }
        
    }

    #presentation{
        #table{

            mat-card{
                width: 70%;
            }
        }
    }
}